@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET OVER*/

body {
	background-color: #dadada;
	font-family: helvetica,'LiHei Pro','Heiti TC','微軟正黑體';
}

.demo-phone {
	width: 500px;
	height: 901px;
	position: relative;
	margin: auto;
	background: url(../img/ios-ui.png) 0 0 no-repeat;
}

.screen {
	width: 338px;
	height: 601px;
	position: relative;
	background-color: #000;
	top: 151px;
	margin: auto;
	overflow: hidden;
}

.screen .s01 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../img/a01.jpg) 0 0 no-repeat;
	background-size: 100%;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.screen .s01.dark {
	opacity: .8;
}

.screen .s02 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../img/a02.jpg) 0 0 no-repeat;
	background-size: 100%;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	display: none;
}


.screen .icon-g {
	width: 50px;
	height: 50px;
	position: absolute;
	background: url(../img/icon-g.png) 0 0 no-repeat;
	cursor: pointer
}

.g-list {
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	width: 200px;
	position: absolute;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	left: -200px;
}

.g-list h3 {
	padding-left: 45px;
	font-size: 24px;
	line-height: 52px;
}

.g-list ul {
	margin-top: 10px;
}

.g-list li {
	line-height: 50px;
	height: 50px;
	padding-left: 40px;
	cursor: pointer;
}

.g-list li:active {
	background-color: #000;
	color: #41b111;
}

.g-list.show {
	transform: translate3d(200px,0,0);
	-webkit-transform: translate3d(200px,0,0);
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.text {
	text-align: center;
	color: #ff3300;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
}

.text span {
	display: none;
}

.text span b {
	padding: 3px 5px;
	background-color: #666;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}